<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title>SproutSnap Admin</title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="APEZ - Responsive Multi-Purpose HTML5 Template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="/images/logo.png" />
    <!-- Material Design Lite Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/material/material.min.css" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/material/mdl-selectfield.min.css">
    <!-- Animteheading Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/animateheading/animateheading.min.css" />
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/owl_carousel/owl.carousel.min.css" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/animate/animate.min.css" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/magnific_popup/magnific-popup.min.css" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/flexslider/flexslider.min.css" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Start Header Section -->
        <header id="header" class="header-dark">
            <div class="layer-stretch hdr">
                <div class="tbl animated fadeInDown">
                    <div class="tbl-row">
                        <!-- Start Header Logo Section -->
                        <div class="tbl-cell hdr-logo">
                            <a href="index.html"><img src="/images/logo.png" alt=""></a>
                        </div><!-- End Header Logo Section -->
                        <div class="tbl-cell hdr-menu">
                            <!-- Start Menu Section -->
                            <ul class="menu">
                                <li class="menu-megamenu-li">                                    
                                    <a href="#" class="" data-toggle="modal">Logout</a>
                                </li>                               
                                
                                <li>
                                    <a class="mdl-button mdl-js-button mdl-js-ripple-effect hdr-search" href="#"><i class="fa fa-search"></i></a>
                                </li>
                                <li class="mobile-menu-close"><i class="fa fa-times"></i></li>
                            </ul><!-- End Menu Section -->
                            <div id="menu-bar"><a><i class="fa fa-bars"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="search-bar animated zoomIn">
                    <div class="search-content">
                        <div class="search-input">
                            <input type="text" placeholder="Enter your text ....">
                            <button class="search-btn"><i class="icon-magnifier"></i></button>
                        </div>
                    </div>
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>
            </div>
        </header><!-- End Header Section -->
        <!-- Start Page Title Section -->
        <div class="page-ttl">
            <div class="layer-stretch">
                <div class="page-ttl-container">
                    <h1>yes OR no</h1>                    
                </div>
            </div>
        </div><!-- End Page Title Section -->

        <!-- Start imgs Section -->
        <div class="blog">
            <div class="layer-stretch">
                <div class="layer-wrapper pb-3">
                    <div class="row pt-4">
                        <div class="col-md-6 col-lg-6">
                            <div class="blog-card">
                                <img src="/uploads/<%=pic.picName%>" alt="">
                            </div>
                            <div>
                                <h4><a href="#">Original Picture</a></h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="blog-card">
                                <img src="/uploads/<%=pic.picAnsName%>" alt="">
                            </div>
                            <div>
                                <h4><a href="#">User Uploaded Picture</a></h4>
                            </div>
                        </div>
                    </div>
                    <form action="/admin/checkpic/<%=pic.picName%>" method="post">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                    <input class="mdl-textfield__input" type="text" id="adminAns" name="adminAns" required="true">
                    <label class="mdl-textfield__label" for="adminAns" >yes or no</label>
                    </div>
                    <div>                                                                  
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent button button-primary contact-submit">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div><!-- End imgs Section -->

        <!-- Start Footer Section -->
        <footer id="footer" class="footer-02">
            <div class="layer-stretch">
                <!-- Start main Footer Section -->
                <div>
                    <ul class="footer-menu footer-menu-inline">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Browse Categories</a></li>
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="pb-3">
                    <ul class="social-list">
                        <li>
                            <a href="#" id="sample-facebook-2"><i class="fab fa-facebook"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-facebook-2">Facebook</span>
                        </li>
                        <li>
                            <a href="#" id="sample-twitter-2"><i class="fab fa-twitter"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-twitter-2">Twitter</span>
                        </li>
                        <li>
                            <a href="#" id="sample-google-2"><i class="fab fa-google"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-google-2">Google</span>
                        </li>
                        <li>
                            <a href="#" id="sample-instagram-2"><i class="fab fa-instagram"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-instagram-2">Instagram
                            </span>
                        </li>
                        <li>
                            <a href="#" id="sample-youtube-2"><i class="fab fa-youtube"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-youtube-2">Youtube</span>
                        </li>
                        <li>
                            <a href="#" id="sample-linkedin-2"><i class="fab fa-linkedin"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-linkedin-2">Linkedin</span>
                        </li>
                        <li>
                            <a href="#" id="sample-flickr-2"><i class="fab fa-flickr"></i></a>
                            <span class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="sample-flickr-2">Flickr</span>
                        </li>
                    </ul>
                </div>
            </div><!-- End main Footer Section -->
            <!-- Start Copyright Section -->
            <div id="copyright">
                <div class="layer-stretch">
                    <div class="paragraph-medium">2017 © Pepdev ALL RIGHTS RESERVED.</div>
                </div>
            </div><!-- End of Copyright Section -->
        </footer><!-- End of Footer Section -->
    </div>

    <!-- **********Included Scripts*********** -->

    <!-- Jquery Library 2.1 JavaScript-->
    <script src="/assets/plugin/jquery/jquery-2.1.4.min.js"></script>
    <!-- Popper JavaScript-->
    <script src="/assets/plugin/popper/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="/assets/plugin/bootstrap/bootstrap.min.js"></script>
    <!-- Modernizr Core JavaScript-->
    <script src="/assets/plugin/modernizr/modernizr.js"></script>
    <!-- Animaateheading JavaScript-->
    <script src="/assets/plugin/animateheading/animateheading.js"></script>
    <!-- Material Design Lite JavaScript-->
    <script src="/assets/plugin/material/material.min.js"></script>
    <!-- Material Select Field Script -->
    <script src="/assets/plugin/material/mdl-selectfield.min.js"></script>
    <!-- Flexslider Plugin JavaScript-->
    <script src="/assets/plugin/flexslider/jquery.flexslider.min.js"></script>
    <!-- Owl Carousel Plugin JavaScript-->
    <script src="/assets/plugin/owl_carousel/owl.carousel.min.js"></script>
    <!-- Scrolltofixed Plugin JavaScript-->
    <script src="/assets/plugin/scrolltofixed/jquery-scrolltofixed.min.js"></script>
    <!-- Magnific Popup Plugin JavaScript-->
    <script src="/assets/plugin/magnific_popup/jquery.magnific-popup.min.js"></script>
    <!-- WayPoint Plugin JavaScript-->
    <script src="/assets/plugin/waypoints/jquery.waypoints.min.js"></script>
    <!-- CounterUp Plugin JavaScript-->
    <script src="/assets/plugin/counterup/jquery.counterup.js"></script>
    <!-- masonry Plugin JavaScript-->
    <script src="/assets/plugin/masonry_pkgd/masonry.pkgd.min.js"></script>
    <!-- SmoothScroll Plugin JavaScript-->
    <script src="/assets/plugin/smoothscroll/smoothscroll.min.js"></script>
    <!--Custom JavaScript-->
    <script src="/dist/js/custom.js"></script>
    
</body>
</html>