<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title>SproutSnap</title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="APEZ - Responsive Multi-Purpose HTML5 Template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="/images/logo.png" />
    <!-- Material Design Lite Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/material/material.min.css" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/material/mdl-selectfield.min.css">
    <!-- Animteheading Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/animateheading/animateheading.min.css" />
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/owl_carousel/owl.carousel.min.css" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/animate/animate.min.css" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/magnific_popup/magnific-popup.min.css" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="/assets/plugin/flexslider/flexslider.min.css" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="/dist/css/style.css">
</head>
<body>
    
    <div class="wrapper">
        <!-- Start Header Section -->
        <header id="header" class="header-dark">
            <div class="layer-stretch hdr">
                <div class="tbl animated fadeInDown">
                    <div class="tbl-row">
                        <!-- Start Header Logo Section -->
                        <div class="tbl-cell hdr-logo">
                            <a href="#"><img src="/images/logo.png" alt=""></a>
                        </div><!-- End Header Logo Section -->
                        <div class="tbl-cell hdr-menu">
                            <!-- Start Menu Section -->
                            <ul class="menu">
                                <li class="menu-megamenu-li">                                    
                                    <a href="#">TeamScore: <%=team.teamScore%></a>
                                </li>
                                <li class="mobile-menu-close"><i class="fa fa-times"></i></li>
                            </ul><!-- End Menu Section -->
                            <div id="menu-bar"><a><i class="fa fa-bars"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="search-bar animated zoomIn">
                    <div class="search-content">
                        <div class="search-input">
                            <input type="text" placeholder="Enter your text ....">
                            <button class="search-btn"><i class="icon-magnifier"></i></button>
                        </div>
                    </div>
                    <div class="search-close"><i class="icon-close"></i></div>
                </div>
            </div>
        </header><!-- End Header Section -->
        <!-- Start Page Title Section -->
        <div class="page-ttl">
            <div class="layer-stretch">
                <div class="page-ttl-container">
                    <h1>We are on <span class="text-primary">it</span> !</h1>
                    <p><a href="#">Prakriti</a> : <span>The Techno-Environmental Club of NIT Durgapur</span></p>
                </div>
            </div>
        </div><!-- End of Page Title Section -->

<!-- Start Contact Popup -->
        <div id="contactPopup" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Contact</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-icon pl-5">
                                        <li><i class="ti-angle-double-right"></i>Shankar : 9641657380</li>
                                        <p class="text-light p-4">Event Co-ordinator</p>
                                    </ul>
                                </div>                                
                            </div>
                    </div>
                </div>
            </div>
        </div><!-- Contact Popup -->

        <!-- Start team Section -->
        <div class="light-background">
            <div class="layer-tablet">
                <div class="layer-wrapper pb-0">
                    <div class="panel panel-default mt-4">
                        <div class="panel-body text-center">
                                <div class="alert alert-outline alert-icon alert-primary alert-dismissible fade show">
                                    <div class="alert--icon">
                                        <i class="fa fa-hand-point-right"></i>
                                    </div>
                                    <div class="alert-text">
                                       <p>We are working on your picture. Thank You for your Patience</p>
                                    </div>
                                </div>
                                <div class="alert alert-outline alert-icon alert-primary alert-dismissible fade show">
                                    <div class="alert--icon">
                                        <i class="fa fa-hand-point-right"></i>
                                    </div>
                                    <div class="alert-text">
                                        To get updates click the refresh button.
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="/profile/loading/<%=picName%>">
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent button button-primary">Refresh</button>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End team Section -->

        <!-- Start Create Team Popup -->
        <div id="createTeamPopup" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sign In Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input">
                            <input class="mdl-textfield__input" type="text" id="teamName">
                            <label class="mdl-textfield__label" for="teamName">Team Name</label>
                        </div>
                        <div class="pt-4 text-center">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button button-dark">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Create Team Popup -->
        
        <!-- Start Footer Section -->
        <footer id="footer" class="footer-02">
            <div class="layer-stretch">
                <div class="logo">
                    <a href="#"><img src="/images/logo.png" alt=""></a>
                </div>
        </footer><!-- End of Footer Section -->
    </div>
    <!-- **********Included Scripts*********** -->

    <!-- Jquery Library 2.1 JavaScript-->
    <script src="/assets/plugin/jquery/jquery-2.1.4.min.js"></script>
    <!-- Popper JavaScript-->
    <script src="/assets/plugin/popper/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="/assets/plugin/bootstrap/bootstrap.min.js"></script>
    <!-- Modernizr Core JavaScript-->
    <script src="/assets/plugin/modernizr/modernizr.js"></script>
    <!-- Animaateheading JavaScript-->
    <script src="/assets/plugin/animateheading/animateheading.js"></script>
    <!-- Material Design Lite JavaScript-->
    <script src="/assets/plugin/material/material.min.js"></script>
    <!-- Material Select Field Script -->
    <script src="/assets/plugin/material/mdl-selectfield.min.js"></script>
    <!-- Flexslider Plugin JavaScript-->
    <script src="/assets/plugin/flexslider/jquery.flexslider.min.js"></script>
    <!-- Owl Carousel Plugin JavaScript-->
    <script src="/assets/plugin/owl_carousel/owl.carousel.min.js"></script>
    <!-- Scrolltofixed Plugin JavaScript-->
    <script src="/assets/plugin/scrolltofixed/jquery-scrolltofixed.min.js"></script>
    <!-- Magnific Popup Plugin JavaScript-->
    <script src="/assets/plugin/magnific_popup/jquery.magnific-popup.min.js"></script>
    <!-- WayPoint Plugin JavaScript-->
    <script src="/assets/plugin/waypoints/jquery.waypoints.min.js"></script>
    <!-- CounterUp Plugin JavaScript-->
    <script src="/assets/plugin/counterup/jquery.counterup.js"></script>
    <!-- masonry Plugin JavaScript-->
    <script src="/assets/plugin/masonry_pkgd/masonry.pkgd.min.js"></script>
    <!-- SmoothScroll Plugin JavaScript-->
    <script src="/assets/plugin/smoothscroll/smoothscroll.min.js"></script>
    <!--Custom JavaScript-->
    <script src="/dist/js/custom.js"></script>

</body>
</html>